dwpractice/src/main/mule/JSONtoCSV.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="662337ab-7894-4262-b7c3-62b3a454a4b0" >
		<file:connection workingDir="E:\" />
	</file:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="00649f83-bfad-42b7-836e-c0ce6022e372" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="JSONtoCSVFlow" doc:id="02e01e60-ffd4-4539-8abd-ecbf76bd5119" >
		<http:listener doc:name="Listener" doc:id="2370ed2e-4dab-4ca0-9c61-3375b7b5840a" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="f377e147-953c-4f03-8a7b-4f873d364d62" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="cce14a43-4796-4696-8e6a-0eaf6daa8900" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false,separator="!"
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2f7a257b-1558-4e65-b702-152ee2c11b0e" message="#[payload]"/>
	</flow>
</mule>
